<div class="container index-content">
  <div class="row">
    <div class="menu col-md-12 col-lg-2">
      <div class="wrapper">
        <div class="mypage-user">
          <h3><%= link_to 'MyBENTO Top', user_path %></h3>
        </div>
        <div class="create-folder">
          <ul>
            <li>
              <input placeholder="新しいボックスを作成" type="text" value=""></input>
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon-inbox"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="folds-menu">
        <h4>ボックス一覧</h4>
        <ul>
          <li><a href="/folds/1"></a>お気に入り</li>
          <li><a href="/folds/2"></a>TOEIC</li>
          <li><a href="/folds/3"></a>日常会話</li>
        </ul>
      </div>
    </div>


    <div class="main col-md-12 col-lg-10">
      <div class="wrapper-profile">
        <div class="profile">
          <div class="p-name">
            <%= current_user.nickname %>
          </div>
          <div class="p-img">
          </div>
          <div class="p-blog">
            <table>
              <tr>
                <th>Blog, HP：</th>
                <td><a href="<% current_user.blog %>"><%= current_user.blog %></a></td>
              </tr>
            </table>
          </div>
          <div class="p-intro">
            <dl>
              <dt>自己紹介：</dt>
              <dd><%= simple_format(current_user.introduction) %></dd>
            </dl>
          </div>
        </div>
      </div>













      <div class="wrapper-createsentence">
        <div class="create-newsentence">
          <%= form_for (@sentence) do |s| %>
            <div class="form-group">
              <%= s.label :words, "新しい文を作成する" %>
              <%= s.text_area :ja, placeholder: "文章(日本語)", class: "form-control" %>
              <%= s.text_area :en, placeholder: "文章(英語)", class: "form-control" %>
            </div>
            <div class="form-group">
              <ul>
                <%= render :partial => "wordform", :locals=>{:s=>s} %>
                <div class="wrapper">
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#more-words"><i class="glyphicon glyphicon-chevron-down"></i></button>
                </div>
                <div id="more-words" class="collapse">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <%= render :partial => "wordform", :locals=>{:s=>s} %>
                      <%= render :partial => "wordform", :locals=>{:s=>s} %>
                      <%= render :partial => "wordform", :locals=>{:s=>s} %>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <div class="form-group">
              <%= s.submit "作成", class: "btn btn-primary withripple" %>
            </div>
          <% end %>
        </div>
      </div>


















      <div class="post">
        <% @sentences.each.with_index(1) do |sentence, i| %>
          <div class="post">
            <div class="post-part">
              <table class="table table-bordered sentence-table">
                <thead>
                  <tr class="warning"><th>
                    <span class="index-name"><%= sentence.user.nickname %></span>
                    <time><%= time_ago_in_words sentence.created_at %></time>前
                    </th></tr>
                </thead>
                <tbody>
                  <tr><th><%= simple_format(sentence.ja) %></th></tr>
                  <tr class="en_sentence"><th><%= simple_format(sentence.en) %></th></tr>
                </tbody>
              </table>
            </div>
            <div class="wrapper">
             <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#words-open<%= i %>">Words</button>
            </div>
            <div id="words-open<%= i %>" class="collapse words-open">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-bordered words-table .table-responsive">
                    <thead>
                      <tr class="warning"><th>単語（日本語）</th><th>単語（英語）</th></tr>
                    </thead>
                    <tbody>
                      <% sentence.words.each do |word| %>
                        <tr>
                          <th><%= word.ja %></th><th><%= word.en %></th></tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>