<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="description" content="短文・単語をみんなで共有しながら学ぶ英語学習サイトです。">
    <title>BENTO English</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="header">
      <div class="nav-bar">
        <a href="/">BENTO</a>
        <a href="/">About</a>
        <% if user_signed_in? %>
          <a href="">MyPage</a>
        <% else %>
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Copyright BENTO 2017.
      </p>
    </footer>
  </body>
</html>
